/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Declaração das variáveis CSS (Custom orperties) */

:root {
    /* Cores da Landing Page */

    --cor-primaria: #004AC6;
    --cor-primaria-hover: #003EA8;
    --cor-fundo: #F8F9FF;
    --cor-branca: #FFFFFF;
    --cor-fundo-secundario: #EFF4FF;
    --cor-texto: #0B1C30;
    --cor-texto-suave: #434655;
    --cor-borda: #C3C6D7;

    /* Tipografia */
    --fonte-principal: 'Inter';

    /* Espaçamentos - Medida: rem -> Melhor acessibilidade: respeita configuração do usuário */

    --espaco-xs: 0.5rem;    /* 8px */
    --espaco-sm: 1rem;      /* 16px */
    --espaco-md: 1.5rem;    /* 24px */
    --espaco-lg: 2rem;      /* 32px */
    --espaco-xl: 3rem;      /* 48px */
    --espaco-xxl: 6rem;     /* 96px */

    /* Bordas arredondadas */

    --raio-sm: 0.5rem;
    --raio-md: 0.75rem;
    --raio-lg: 1rem;

}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
}

.navbar {
    /*Fixa o elemento na tela*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999; /* Posicionamento dos itens em camada FRENTE - SOBREPOSTO */
    background-color: var(--cor-fundo);
    opacity: 0.85;
    backdrop-filter: blur(12px); /* Efeito de vidro opaco */
    border-bottom: 1px solid var(--cor-borda);
}

.navbar-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    padding: var(--espaco-sm) var(--espaco-lg);
}

.navbar-logo {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--cor-primaria);
    text-decoration: none;
    letter-spacing: -0.03rem;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: var(--espaco-lg);
}

.navbar-links a {
    text-decoration: none;
    color: var(--cor-texto-suave);
    font-size: 0.9375rem;
    font-weight: 550;
}

/* Comportamento quando o mouse passa por cima */
.navbar-links a:hover {
    color: var(--cor-primaria);
}

.navbar-botoes {
    display: flex;
    align-items: center;
    gap: var(--espaco-sm);
}

.navbar-button {
    background-color: var(--cor-primaria);
    border: none;
    color: var(--cor-branca);
    font-size: 0.9375rem;
    font-weight: 700;
    padding: 0.8rem 1.25rem;
    border-radius: var(--raio-md);
    cursor: pointer; /* Mãozinha aparecendo no botão */
    transition: all 0.15s ease;

}

/* Dentro do hover só adicionamos o que será alterado */
.navbar-button:hover {
    background-color: var(--cor-primaria-hover);
    transform: scale(1.05);
}

.navbar-login-link {
    text-decoration: none;
    color: var(--cor-texto-suave);
    font-weight: 550;
    font-size: 0.9375rem;
}

.navbar-login-link:hover {
    color: var(--cor-primaria-hover);
}

.hero {
    /* vh = viewport height. 100vh = altura total da janela */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--espaco-lg) var(--espaco-xxl);

}

.hero-label {
    display: inline-block;
    /* background-color: #0049c638; */
    background-color: color-mix(in srgb, var(--cor-primaria) 20%, transparent);
    text-transform: uppercase;
    color: var(--cor-primaria);
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.12rem;
    padding: 0.375rem 1rem;
    border-radius: var(--raio-lg);
    margin-bottom: var(--espaco-lg);
}

.hero-titulo {
    /* clamp(mínimo, ideal, máximo) significa:
    - Nunca menor que "mínimo" - em telas pequenas
    - Tamanho ideal
    - Nunca maior que "máximo" - em telas grandes
    */
    font-size: clamp(2.5rem, 5.7rem, 4.5rem);
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -0.03rem;
    color: var(--cor-texto);
    max-width: 56rem;
    text-align: center;
    margin-bottom: var(--espaco-md);
}

.hero-titulo span {
    color: var(--cor-primaria);
}

.hero-subtitulo {
    font-size: clamp(1rem, 1.875rem, 1.25rem);
    color: var(--cor-texto-suave);
    max-width: 42rem;
    line-height: 1.7;
    margin-bottom: var(--espaco-xl);
    text-align: center;
}

.hero-botoes {
    display: flex;
    gap: var(--espaco-sm);
}

.btn-funcionalidades {
    background-color: var(--cor-primaria);
    border: none;
    color: var(--cor-branca);
    font-size: 1.07rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: var(--raio-md);
    cursor: pointer; /* Mãozinha aparecendo no botão */
    transition: all 0.15s ease;
}

.btn-funcionalidades:hover {
    background-color: var(--cor-primaria-hover);
    transform: scale(1.02);
}

.btn-saiba-mais {
    background-color: var(--cor-branca);
    border: none;
    outline: 2px solid var(--cor-primaria);
    color: var(--cor-primaria);
    font-size: 1.07rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: var(--raio-md);
    cursor: pointer; /* Mãozinha aparecendo no botão */
    transition: all 0.15s ease;
}

.btn-saiba-mais:hover {
    background-color: var(--cor-fundo-secundario);
}

